@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  color:black;
  background-color: white;
  
}

.dark{
  color:white;
  background-color: #121212;
}


